@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;700&display=swap');

:root {
  --clr-heading: hsl(271, 36%, 24%);
  --clr-paragraph: hsl(270, 7%, 64%);

  --clr-grad-magenta: hsl(293, 100%, 63%);
  --clr-grad-violet: hsl(264, 100%, 61%);

  --clr-app-background: hsl(270, 20%, 96%);
  --clr-submit-button-background: hsl(271, 36%, 24%);
  --clr-radio-button-outline: hsl(289, 100%, 72%);
  --clr-user-status: hsl(276, 100%, 81%);
  --clr-left-chat: hsl(276, 55%, 52%);
  --clr-left-bg: hsl(270, 20%, 92%);
  --clr-right-chat: hsl(271, 15%, 43%);
  --clr-place-holder: hsl(206, 6%, 79%);
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Rubik', sans-serif;
}

body {
  position: relative;
}

.bg-gradient-to-bl {
  background-image: linear-gradient(to bottom, var(--clr-grad-magenta), var(--clr-grad-violet));
}

.bg-gradient-to-l {
  background-image: linear-gradient(to left, var(--clr-grad-magenta), var(--clr-grad-violet));
}

.bg-gradient-to-r {
  background-image: linear-gradient(to right, var(--clr-grad-magenta), var(--clr-grad-violet));
}

.w-full {
  width: 100%;
}

.h-full {
  height: 100%;
}

.mx-auto {
  margin: 0 auto;
}

.flex {
  display: flex;
}

.flex-row {
  flex-direction: row;
}

.flex-column {
  flex-direction: column;
}

.space-between {
  justify-content: space-between;
}

.justify-center {
  justify-content: center;
}

.items-center {
  align-items: center;
}

.gap-1 {
  gap: 0.25rem;
}

.mt-1 {
  margin-top: 0.25rem;
}

.mt-2 {
  margin-top: 0.5rem;
}

.text-xs {
  font-size: 8px;
}

.text-sm {
  font-size: 12px;
}

.text-name {
  color: white;
}

.text-status {
  color: var(--clr-user-status);
}

.font-normal {
  font-weight: 400;
}

.font-medium {
  font-weight: 500;
}

.font-bold {
  font-weight: 700;
}

.cursor-pointer {
  cursor: pointer;
}

.container {
  overflow: hidden;
  position: relative;
  min-height: 100vh;
  display: grid;
  place-items: center;
}

.small-cube {
  width: 2px;
  height: 2px;
  background-color: var(--clr-user-status);
}

.back-icon .top-part {
  width: 3px;
  height: 10px;
  transform: skew(-25deg);
  background: white;
}

.back-icon .bottom-part {
  width: 3px;
  height: 10px;
  transform: skew(25deg);
  background: white;
}

.chevron-left {
  position: relative;
  text-align: center;
  height: 14px;
  width: 10px;
}

.chevron-left:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  height: 51%;
  width: 3px;
  background: white;
  transform: skew(-20deg);
}

.chevron-left:after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  height: 51%;
  width: 3px;
  background: white;
  transform: skew(20deg);
}

.first-bg {
  position: absolute;
  top: -100px;
  left: -70px;
  width: 500px;
  height: 100vh;
  border-bottom-left-radius: 250px 260px;
  border-bottom-right-radius: 250px 260px;
}

.second-bg {
  position: absolute;
  bottom: -100px;
  right: -140px;
  width: 500px;
  height: 100vh;
  border-top-left-radius: 250px 260px;
  border-top-right-radius: 250px 260px;
  background-color: hsl(270, 20%, 96%);
}

.content {
  position: relative;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
}

/* PHONE */
.phone-section {
  box-shadow: 0 0 50px #ccc;
  width: 260px;
  height: 500px;
  border-radius: 40px;
  margin-right: min(10vw, 100px);
  justify-self: end;
  background-color: white;
  padding: 0.5rem;
}

.app {
  border-radius: 30px;
  background-color: var(--clr-app-background);
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.app-bar {
  height: 100px;
  border-radius: 5px;
}

.app-bar-content {
  margin: 2rem 0.75rem 1rem;
}

.more-menu > *:nth-child(2) {
  margin: 1px 0;
}

.user-avatar {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  border: 1px solid white;
}

.chat-box {
  height: 100%;
  padding: 0.5rem;
  display: flex;
  flex-direction: column;
  row-gap: 0.5rem;
}

.left-chat {
  font-size: 8px;
  color: var(--clr-left-chat);
  background-color: var(--clr-left-bg);
  padding: 1em;
  max-width: 55%;
}

.right-chat {
  align-self: end;
  font-size: 8px;
  color: var(--clr-right-chat);
  background-color: white;
  padding: 1em;
  max-width: 55%;
}

.chat-input {
  height: 100px;
  background-color: blue;
  padding: 0.55rem;
}

/* TEXT */
.text-section {
  line-height: 1.8;
}

.text-section h1 {
  color: var(--clr-heading);
  font-size: 2.75rem;
  font-weight: 500;
}

.text-section p {
  color: var(--clr-paragraph);
  font-size: 1rem;
  font-weight: 400;
  max-width: 450px;
}

@media (max-width: 900px) {
  .first-bg {
    top: -50%;
    left: -190px;
    width: 380px;
    height: 936px;
    border-bottom-left-radius: 190px;
    border-bottom-right-radius: 190px;
  }

  .second-bg {
    bottom: -50%;
    right: -190px;
    width: 380px;
    height: 936px;
    border-top-left-radius: 190px;
    border-top-right-radius: 190px;
  }

  .content {
    grid-template-columns: 1fr;
    place-items: center;
    padding: 3rem 0;
  }

  /* PHONE */
  .phone-section {
    margin-right: 0;
    justify-self: auto;
  }

  /* TEXT */
  .text-section {
    margin-top: 4rem;
    text-align: center;
  }

  .text-section h1 {
    font-size: 2.25rem;
  }

  .text-section p {
    max-width: 300px;
  }
}
